/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: rgb(90, 47, 47);
    background-image: url('alam.png');
    background-size: cover;
    background-position: center;
    color: white;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    color: white;
    font-family: sans-serif;
    font-size: larger;
}

main {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a slight dark overlay for better text readability */
}

section {
    margin-bottom: 2rem;
}

p {
    color: rgb(129, 126, 126);
    font-size: large;
}

h2 {
    color: #999595;
}

h3 {
    color: #a8a2a2;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
}

@media (min-width: 600px) {
    main {
        width: 80%;
        margin: 0 auto;
    }
}
